@import "bootstrap.css";


.menuitem{
    display: block;
}

body{
    background-color: black;
}

div, a, p, h1,h2,h3,h4,h5,h6,span{
    color:white;
}

button, input, select{
    color:black;
}

.transparent{
    background-color:white;
}
